@model string
@{
    ViewBag.Title = "Transfer connection requests";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connection-requests";
    ViewBag.GaData.Vpv = "/accounts/transfers/connections/requests";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="das-highlight das-highlight--information govuk-!-margin-0 govuk-!-padding-6">
            <h1 class="govuk-heading-l">Connect with a receiving employer</h1>
            <p>To connect with a receiving employer you want to transfer funds to, you'll need to:</p>
            <ol class="govuk-list govuk-list--number" data-id="how-to-renew-uk">
                <li>
                    <p>agree the apprentices, training and costs that the transfer funds will cover</p>
                </li>
                <li>
                    <p>ensure the receiving employer has registered on the apprenticeship service</p>
                </li>
                <li>
                    <p>request the receiving employer's apprenticeship account ID. This can be found under the account name on the apprenticeship service homepage.</p>
                </li>
            </ol>
            <p>You won't be able to complete the next step until you have the receiving employer's account ID.</p>
            <div class="govuk-button-group govuk-!-margin-0">
                <a class="govuk-button das-button--inverted" href="@Url.Action("Start", "TransferConnectionInvitations", new{HashedAccountId = Model})">Continue</a>
                <a class="govuk-link govuk-link--inverse" href="@Url.Action("Index", "TransferConnections", new{HashedAccountId = Model})">Cancel</a>
            </div>
        </div>
    </div>
</div>

@section breadcrumb {
    <a class="govuk-back-link" href="@Url.Action("Index", "TransferConnections", new{HashedAccountId = Model})">Back</a>
}