@using SFA.DAS.Common.Domain.Types;
@using SFA.DAS.EmployerFinance.Interfaces

@inject IUrlActionHelper UrlHelpers;

@model SFA.DAS.EmployerFinance.Web.ViewModels.TransferViewModel

@{
    ViewBag.Title = "Transfers";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfers";
    ViewBag.GaData.Vpv = "/accounts/transfers";
    ViewBag.ZenDeskLabel = "eas-transfers";
}

        
 
<h1 class="govuk-heading-xl">Transfers</h1>

@if (Model.ApprenticeshipEmployerType == ApprenticeshipEmployerType.Levy)
{
    @await Html.PartialAsync("_TransferAllowance",Model.TransferAllowanceViewModel)
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (Model.ApprenticeshipEmployerType == ApprenticeshipEmployerType.Levy)
        {
            <p><a href="@UrlHelpers.EmployerProjectionsAction("forecasting/estimations/start-transfer")" class="govuk-link govuk-link--no-visited-state">Estimate</a> the number of apprentices you can fund with your transfer allowance.</p>
        }

        @await Html.PartialAsync("_TransferConnectionInvitationAuthorization",Model.TransferConnectionInvitationAuthorizationViewModel)
        @await Html.PartialAsync("_TransferConnectionInvitations",Model.TransferConnectionInvitationsViewModel)
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        @await Html.PartialAsync("_TransferRequests",Model.TransferRequest)


    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@UrlHelpers.EmployerAccountsAction("teams")">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "EmployerAccountTransactions")">Finance</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                @ViewBag.Title
            </li>
        </ol>
    </div>
}
